/DataStatistic/bin
/DataStatistic/gen
/DataStatistic/ic_launcher-web.png
/DataStatistic/proguard-project.txt
/DataStatistic/project.properties
/DataStatistic/.classpath
/DataStatistic/.project
